.Main{
  /* padding-top :20px;
  max-height: 100vh; */
 
  background-color: rgb(233, 212, 250);
}

.Nav{
  width:90vw;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  padding-top :15px;
  padding-bottom:2-px;
  font-weight:bold;
  display:flex;
  flex-direction: column;
  background-color: rgb(233, 212, 250);
  
}
.Nav_top{
  font-size:1.0rem;
  padding-left: 20px;
  color:black;
}

.Nav_bottom{
  display:flex;
  flex-direction: row;
  margin-left:auto;
  margin-right:auto;
  margin-top:23px;
  font-size:35px;
  color:white;

}
.menu{
  margin-right:0px;
}
.add-todo-button{
  position:fixed;
  right:10px;
  bottom:-8px;
  z-index:100;
  width:100px;
  height:100px;
  cursor:pointer;
  font-size:4rem;
  color:rgb(105, 127, 215);
}