.Main{
  /* padding-top :20px;
  max-height: 100vh; */
 
  background-color: hsl(33, 79%, 85%);
}

.Nav{
  width:90vw;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  padding-top :15px;
  padding-bottom:2-px;
  font-weight:bold;
  display:flex;
  flex-direction: column;
  background-color: hsl(33, 79%, 85%);;
  
}
.Nav_top{
  font-size:1.0rem;
  padding-left: 20px;
  color:black;
  display: flex;

}
.Nav_top_left{
  padding-left: 210px;
  font-size:20px ;
}


.Nav_bottom{
  display:flex;
  flex-direction: row;
  margin-left:auto;
  margin-right:auto;
  margin-top:23px;
  font-size:35px;
  color:rgb(255, 255, 255);

}
.menu{
  margin-right:0px;
}
.add-todo-button{
  position:fixed;
  right:110px;
  bottom:-8px;
  z-index:100;
  width:100px;
  height:100px;
  cursor:pointer;
  font-size:4rem;
  color:rgb(255, 255, 255);
}
